.pageBackground {
background-color: rgb(236, 122, 189);
border: 3px;
border-style: solid;
border-color: rgb(212, 136, 210);
padding-top: 50px;
padding-right: 150px;
padding-bottom: 50px;
padding-left: 150px;
}

.header {
    background-color: white;
    border: 1px;
    border-style: solid;
    border-color: rgb(212, 136, 210);
    display: flex;
    justify-content: center;
}

.navbar {
    background-color:  white;
    border: 1px;
    border-style: solid;
    border-color: rgb(212, 136, 210); 
     display: flex;
    justify-content: space-between; 
}


.menu1 {
    background-color: white;
    border: 1px;
    border-style: solid;
    border-color: rgb(212, 136, 210);    
    display: flex;
    justify-content: space-evenly;
}

p {
    font-style: italic;
}

#image1 {
background-color: aqua;
}

.menu2 {
    background-color: green;
    border: 8px;
    border-style: solid;
    border-color: red;    
    display: flex;
    justify-content: space-between;
}