.header {
    background-color: aqua;
    border: 8px;
    border-style: solid;
    border-color: red;
    display: flex;
    justify-content: center;
}

.navbar {
    background-color:  pink;
    border: 8px;
    border-style: solid;
    border-color: red; 
     display: flex;
    justify-content: space-between; 
}

.title {
    background-color: purple;
    border: 8px;
    border-style: solid;
    border-color: red;    
}

.menu1 {
    background-color: green;
    border: 8px;
    border-style: solid;
    border-color: red;    
    display: flex;
    justify-content: space-between;
}

.menu2 {
    background-color: green;
    border: 8px;
    border-style: solid;
    border-color: red;    
    display: flex;
    justify-content: space-between;
}